In [18]:
#import dependencies
import pandas as pd
import psycopg2

import sqlalchemy
from sqlalchemy import create_engine
from sklearn.metrics import balanced_accuracy_score
import sklearn.metrics as sm
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import tensorflow as tf
import plotly as pt

In [19]:
# Create an engine instance
alchemyEngine = create_engine('postgresql+psycopg2://root:Group2Wineos@grp2rdsinstance.cwkbfcctxu7y.us-east-1.rds.amazonaws.com/postgres')

In [20]:
# Connect to PostgreSQL server
dbConnection = alchemyEngine.connect();

In [21]:
df = pd.read_sql_table('wine_and_weather_table', dbConnection)
df

,points,price,province,variety,winery,year,prov_weather,year_weather,precipitation,temperature,timeseries
0,87,14,Oregon,Pinot Gris,Rainstorm,2013,Oregon,2013,440.10,8.68,Historical
1,87,65,Oregon,Pinot Noir,Sweet Cheeks,2012,Oregon,2012,808.24,9.04,Historical
2,87,24,Alsace,GewÃ¼rztraminer,Trimbach,2012,Alsace,2012,938.63,10.39,Historical
3,87,27,Alsace,Pinot Gris,Jean-Baptiste Adam,2012,Alsace,2012,938.63,10.39,Historical
4,87,19,California,Cabernet Sauvignon,Kirkland Signature,2011,California,2011,489.67,13.43,Historical
...,...,...,...,...,...,...,...,...,...,...,...
58846,90,28,Alsace,Pinot Gris,Domaine RieflÃ©-Landmann,2013,Alsace,2013,949.40,9.94,Historical
58847,90,75,Oregon,Pinot Noir,Citation,2004,Oregon,2004,596.22,9.28,Historical
58848,90,30,Alsace,GewÃ¼rztraminer,Domaine Gresser,2013,Alsace,2013,949.40,9.94,Historical
58849,90,32,Alsace,Pinot Gris,Domaine Marcel Deiss,2012,Alsace,2012,938.63,10.39,Historical
58850,90,21,Alsace,GewÃ¼rztraminer,Domaine Schoffit,2012,Alsace,2012,938.63,10.39,Historical

In [22]:
# drop winery, year, timeseries, prov_year, prov_weather
df = df.drop(['winery', 'year', 'prov_weather', 'year_weather', 'timeseries'], axis=1)
df

,points,price,province,variety,precipitation,temperature
0,87,14,Oregon,Pinot Gris,440.10,8.68
1,87,65,Oregon,Pinot Noir,808.24,9.04
2,87,24,Alsace,GewÃ¼rztraminer,938.63,10.39
3,87,27,Alsace,Pinot Gris,938.63,10.39
4,87,19,California,Cabernet Sauvignon,489.67,13.43
...,...,...,...,...,...,...
58846,90,28,Alsace,Pinot Gris,949.40,9.94
58847,90,75,Oregon,Pinot Noir,596.22,9.28
58848,90,30,Alsace,GewÃ¼rztraminer,949.40,9.94
58849,90,32,Alsace,Pinot Gris,938.63,10.39
58850,90,21,Alsace,GewÃ¼rztraminer,938.63,10.39

In [23]:
# Create the OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.province.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['province'])
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,province_Tuscany,province_Veneto,province_Washington
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# Fit the encoder and produce encoded DataFrame
encode2_df = pd.DataFrame(enc.fit_transform(df.variety.values.reshape(-1,1)))

# Rename encoded columns
encode2_df.columns = enc.get_feature_names(['variety'])
encode2_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,variety_Barbera,variety_Bordeaux-style Red Blend,variety_Bordeaux-style White Blend,variety_Cabernet Franc,variety_Cabernet Sauvignon,variety_Champagne Blend,variety_Chardonnay,"variety_Corvina, Rondinella, Molinara",variety_Dolcetto,variety_Garganega,...,variety_Sangiovese,variety_Sangiovese Grosso,variety_Sauvignon Blanc,variety_Sparkling Blend,variety_Syrah,variety_Tempranillo,variety_Vermentino,variety_Viognier,variety_White Blend,variety_Zinfandel
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
# Merge the two DataFrames together and drop the Country column
df = df.merge(encode_df,left_index=True,right_index=True).drop(columns="province",axis=1)
df

,points,price,variety,precipitation,temperature,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,province_Tuscany,province_Veneto,province_Washington
0,87,14,Pinot Gris,440.10,8.68,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,87,65,Pinot Noir,808.24,9.04,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,87,24,GewÃ¼rztraminer,938.63,10.39,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,87,27,Pinot Gris,938.63,10.39,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,87,19,Cabernet Sauvignon,489.67,13.43,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58846,90,28,Pinot Gris,949.40,9.94,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58847,90,75,Pinot Noir,596.22,9.28,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
58848,90,30,GewÃ¼rztraminer,949.40,9.94,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58849,90,32,Pinot Gris,938.63,10.39,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58850,90,21,GewÃ¼rztraminer,938.63,10.39,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
df = df.merge(encode2_df,left_index=True,right_index=True).drop("variety",axis=1)
df

,points,price,precipitation,temperature,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,...,variety_Sangiovese,variety_Sangiovese Grosso,variety_Sauvignon Blanc,variety_Sparkling Blend,variety_Syrah,variety_Tempranillo,variety_Vermentino,variety_Viognier,variety_White Blend,variety_Zinfandel
0,87,14,440.10,8.68,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,87,65,808.24,9.04,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,87,24,938.63,10.39,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,87,27,938.63,10.39,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,87,19,489.67,13.43,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58846,90,28,949.40,9.94,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58847,90,75,596.22,9.28,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58848,90,30,949.40,9.94,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58849,90,32,938.63,10.39,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58850,90,21,938.63,10.39,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
#scale dataframe
from sklearn.preprocessing import MinMaxScaler
# Create the MinMaxScaler instance
scaler = MinMaxScaler()
df_new = df[['precipitation', 'temperature', 'price']].copy()

# Fit the MinMaxScaler
scaler.fit(df_new)


# Scale the data
scaled_data = scaler.transform(df_new)
scaled_df = pd.DataFrame(scaled_data, columns = ["precipitation_scaled", "temperature_scaled", "price_scaled"])
scaled_df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

       precipitation_scaled  temperature_scaled  price_scaled
0                  0.162465            0.166058      0.104167
1                  0.431031            0.198905      0.635417
2                  0.526153            0.322080      0.208333
3                  0.526153            0.322080      0.239583
4                  0.198627            0.599453      0.156250
...                     ...                 ...           ...
58846              0.534010            0.281022      0.250000
58847              0.276358            0.220803      0.739583
58848              0.534010            0.281022      0.270833
58849              0.526153            0.322080      0.291667
58850              0.526153            0.322080      0.177083

[58851 rows x 3 columns]

In [28]:
# merge df and scaled_df
df = df.merge(scaled_df,left_index=True,right_index=True).drop(columns=["precipitation", "temperature", "price"], axis=1)
df

,points,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,...,variety_Sparkling Blend,variety_Syrah,variety_Tempranillo,variety_Vermentino,variety_Viognier,variety_White Blend,variety_Zinfandel,precipitation_scaled,temperature_scaled,price_scaled
0,87,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.162465,0.166058,0.104167
1,87,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.431031,0.198905,0.635417
2,87,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.526153,0.322080,0.208333
3,87,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.526153,0.322080,0.239583
4,87,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.198627,0.599453,0.156250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58846,90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.534010,0.281022,0.250000
58847,90,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.276358,0.220803,0.739583
58848,90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.534010,0.281022,0.270833
58849,90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.526153,0.322080,0.291667
58850,90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.526153,0.322080,0.177083

In [29]:
y = df.pop('points')
y

0        87
1        87
2        87
3        87
4        87
         ..
58846    90
58847    90
58848    90
58849    90
58850    90
Name: points, Length: 58851, dtype: int64

In [30]:
X = df
X

,province_Alsace,province_Aquitaine,province_Burgundy,province_California,province_Champagne-Ardenne,province_New York,province_Oregon,province_Piemonte,province_Sicilia,province_Tuscany,...,variety_Sparkling Blend,variety_Syrah,variety_Tempranillo,variety_Vermentino,variety_Viognier,variety_White Blend,variety_Zinfandel,precipitation_scaled,temperature_scaled,price_scaled
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.162465,0.166058,0.104167
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.431031,0.198905,0.635417
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.526153,0.322080,0.208333
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.526153,0.322080,0.239583
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.198627,0.599453,0.156250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58846,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.534010,0.281022,0.250000
58847,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.276358,0.220803,0.739583
58848,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.534010,0.281022,0.270833
58849,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.526153,0.322080,0.291667
58850,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.526153,0.322080,0.177083

Multiple Linear Regression

In [31]:
# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 78)

In [32]:
# Use Multiple Linear Regression to explain the data
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [33]:
y_predict = model.predict(X_test)

In [34]:
# Determine mean squared error
sm.mean_squared_error(y_test, y_predict)

5.733489777111208

In [35]:
# Determine R Squared
sm.r2_score(y_test, y_predict)

0.33225536143544654

In [36]:
# Determine feature importance
importance=model.coef_
for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: 5841641896023.77734
Feature: 1, Score: 5841641896021.44727
Feature: 2, Score: 5841641896021.84375
Feature: 3, Score: 5841641896020.62109
Feature: 4, Score: 5841641896022.30859
Feature: 5, Score: 5841641896023.99707
Feature: 6, Score: 5841641896023.71680
Feature: 7, Score: 5841641896023.75391
Feature: 8, Score: 5841641896019.84961
Feature: 9, Score: 5841641896022.01074
Feature: 10, Score: 5841641896021.03516
Feature: 11, Score: 5841641896024.87109
Feature: 12, Score: 166967378061.40137
Feature: 13, Score: 166967378061.49463
Feature: 14, Score: 166967378061.56714
Feature: 15, Score: 166967378061.32520
Feature: 16, Score: 166967378060.98096
Feature: 17, Score: 166967378062.52490
Feature: 18, Score: 166967378061.96387
Feature: 19, Score: 166967378061.15002
Feature: 20, Score: 166967378060.93494
Feature: 21, Score: 166967378062.01361
Feature: 22, Score: 166967378062.11414
Feature: 23, Score: 166967378062.71286
Feature: 24, Score: 166967378061.96143
Feature: 25, Score: 166967378061.07614
Feature: 26, Score: 166967378060.95377
Feature: 27, Score: 166967378060.92966
Feature: 28, Score: 166967378061.11935
Feature: 29, Score: 166967378062.15070
Feature: 30, Score: 166967378061.21317
Feature: 31, Score: 166967378060.95270
Feature: 32, Score: 166967378060.67032
Feature: 33, Score: 166967378061.60876
Feature: 34, Score: 166967378061.66724
Feature: 35, Score: 166967378060.64941
Feature: 36, Score: 166967378062.27820
Feature: 37, Score: 166967378061.83087
Feature: 38, Score: 166967378061.27551
Feature: 39, Score: 166967378062.17139
Feature: 40, Score: 166967378062.02859
Feature: 41, Score: 166967378062.57953
Feature: 42, Score: 166967378061.28546
Feature: 43, Score: 166967378060.71796
Feature: 44, Score: 166967378061.31689
Feature: 45, Score: 166967378061.56476
Feature: 46, Score: 166967378062.49219
Feature: 47, Score: 166967378062.07684
Feature: 48, Score: 166967378060.83362
Feature: 49, Score: 166967378061.33984
Feature: 50, Score: 166967378061.83295
Feature: 51, Score: 166967378061.56909
Feature: 52, Score: 166967378061.50565
Feature: 53, Score: -1.73373
Feature: 54, Score: 5.55548
Feature: 55, Score: 7.91661

In [40]:
# Rerun model using only Features 53, 54 and 55
X = df[['precipitation_scaled', 'temperature_scaled', 'price_scaled']]
X

       precipitation_scaled  temperature_scaled  price_scaled
0                  0.162465            0.166058      0.104167
1                  0.431031            0.198905      0.635417
2                  0.526153            0.322080      0.208333
3                  0.526153            0.322080      0.239583
4                  0.198627            0.599453      0.156250
...                     ...                 ...           ...
58846              0.534010            0.281022      0.250000
58847              0.276358            0.220803      0.739583
58848              0.534010            0.281022      0.270833
58849              0.526153            0.322080      0.291667
58850              0.526153            0.322080      0.177083

[58851 rows x 3 columns]

In [41]:
# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 78)

In [42]:
# Use Multiple Linear Regression to explain the data
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [43]:
y_predict = model.predict(X_test)

In [44]:
# Determine mean squared error
sm.mean_squared_error(y_test, y_predict)

6.1724421584520694

In [45]:
# Determine R Squared
sm.r2_score(y_test, y_predict)

0.2811332507105567

In [46]:
# Determine feature importance
importance=model.coef_
for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: -0.79237
Feature: 1, Score: -0.81824
Feature: 2, Score: 7.65805

Deep Learning

In [47]:
# Define the model - deep neural net
number_input_features = 68
hidden_nodes_layer1 = 132
hidden_nodes_layer2 = 68

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 132)               9108

 dense_4 (Dense)             (None, 68)                9044

 dense_5 (Dense)             (None, 1)                 69

=================================================================
Total params: 18,221
Trainable params: 18,221
Non-trainable params: 0
_________________________________________________________________

In [48]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])